@model CineMate.Data.Entities.Seat
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Create Seat";
}

<h1>Create Seat</h1>

<form asp-action="Create" method="post" class="mt-3">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="ScreeningId" class="form-label"></label>
        <select asp-for="ScreeningId"
                asp-items="@(ViewData["ScreeningId"] as SelectList)"
                class="form-select">
            <option value="">-- Select Screening --</option>
        </select>
        <span asp-validation-for="ScreeningId" class="text-danger"></span>
    </div>

       <div class="mb-3">
              <label asp-for="Row" class="form-label"></label>
               <input asp-for="Row" type="number" min="1" max="7" class="form-control" />
             <span asp-validation-for="Row" class="text-danger"></span>
    </div>

      <div class="mb-3">
               <label asp-for="Number" class="form-label"></label>
               <input asp-for="Number" type="number" min="1" max="10" class="form-control" />
               <span asp-validation-for="Number" class="text-danger"></span>
        
    </div>



    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
